.blog {
  padding: 0 50px;
  margin-bottom: 50px;

  .author {
    opacity: 0.49;
    color: #4a77b7;
    font-family: "Gotham Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
  }

  .title {
    color: #4a77b7;
    font-family: "Gotham Bold";
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
  }

  h1.blog-title {
    text-align: center;
    opacity: 0.15;
    color: $omni-blue;
    font-family: "Gotham Medium";
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 80px 0 100px 0;

    @media screen and (max-width:550px){
      font-size: 48px;
    }
  }

  .all-posts {
    max-width: 1000px;
    margin: auto;

    @media screen and (min-width: 1400px) {
      max-width: 1200px;
    }

    .no-posts{
      font-family: "Gotham Medium";
      opacity: 0.5;
      font-size: 32px;
      display: flex;
      height: 100%;

      span{
        margin: auto;
      }
    }

    .featured {
      width: 100%;
      height: 40vh;
      max-height: 480px;
      min-height: 300px;
      margin-bottom: 16px;

      a {
        display: block;
        height: 100%;

        .featured-post-card {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          border-radius: 12px;
          background-color: #ecf2fa;
          height: 100%;

          > * {
            width: 50%;
            height: 100%;
          }

          .image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 12px 0 0 12px;
          }

          .featured-caption-box {
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0 64px 0 32px;
          }

          @media screen and (max-width: 550px){
            flex-flow: column;
            > * {
              width: 100%;
            }

            .image {
              border-radius: 12px 12px 0 0;
            }

            .featured-caption-box {
              padding: 24px;
              box-sizing: border-box;
              border-radius: 0 0 12px 12px;

              .title {
                font-size: 28px;
              }
            }
            
          }
        }
      }

      @media screen and (max-width: 550px) {
        min-height: 400px;
      }
    }

    .posts {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;


      > a {
        width: calc(50% - 16px);
        margin: 16px 0;
        border-radius: 12px;
        background-color: #ecf2fa;
        display: block;

        height: 40vh;
        max-height: 480px;
        min-height: 350px;

        .title {
          font-size: 24px;
        }

        .post-card {
          border-radius: 12px;
          display: flex;
          flex-flow: column;
          height: 100%;

          .image {
            height: 100%;
            border-radius: 12px 12px 0 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
          }

          .caption-box {
            padding: 0 32px;
          }
        }
      }
    

      form#emailbox-form {
        width: 100%;
        background-color: #365e97;
        color: $omni-white;
        border-radius: 12px;
        height: 30vh;
        max-height: 400px;
        min-height: 300px;
        text-align: center;
        margin: 16px 0;
        
        padding: 20px;
        box-sizing: border-box;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        h2 {
          font-family: "Gotham Book";
          font-size: 24px;
          font-weight: 300;
          line-height: 42px;
          max-width: 420px;
          margin-top: 0;
        }
          
        #email-box {
          display: flex;
          max-width: 420px;
          width: 100%;

          > * {
            font-family: "Gotham Medium";
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
          }

          input {
            flex-grow: 1;
            min-width: 0;
            height: 65px;
            border-radius: 12px;
            outline: none;
            border: none;
            box-sizing: border-box;
            padding: 20px;
            color: #000000;
          }

          button {
            flex-grow: 0.2;
            height: 65px;
            border-radius: 0 12px 12px 0;
            background-color: #203d67;
            color: $omni-white;
            border: none;
            outline: none;
            cursor: pointer;
            margin-left: -15px;
            letter-spacing: 2px;
          }

          @media screen and (max-width: 350px){
            flex-flow: column;
            justify-content: center;

            > button {
              border-radius: 0 0 12px 12px;
              margin-left: 0;
              margin-top: -15px;
            }            
          }
        }

      }

      @media screen and (max-width:700px) {
        flex-flow: column;
        > a {
          width: 100%;
        }        
      }
    }
  }

  @media screen and (max-width: 700px) {
    padding: 0 20px;    
  }

  button#more-posts-btn{
    max-width: 334px;
    width: 100%;
    margin: 16px auto;
    display: block;
    cursor: pointer;
    height: 72px;
    // box-shadow: 0 16px 48px rgba(138, 168, 212, 0.5);
    border-radius: 16px;
    border: 1px solid #4a77b7;
    background: transparent;

    color: #4a77b7;
    font-family: "Gotham Medium";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 72px;
    outline: none;
    text-transform: uppercase;
  }
}