@mixin load_fonts($name, $fontfile) {
  @font-face {
    font-family: $name;
    src: url('../scss/'+$fontfile);
    font-display: swap;
  }
}

@include load_fonts("Gotham Medium", "Gotham.ttf");
@include load_fonts("Gotham Book", "Gotham-Book.otf");
@include load_fonts("Gotham Bold", "Gotham-Bold.otf");
@include load_fonts("SF Pro Medium", "SF-Pro-Medium.otf");