.post {
  max-width: 1200px;
  margin: auto;

  .post-header {
    text-align: center;
    max-width: 800px;
    margin: 112px auto 0 auto;
    border-bottom: 1px solid #4a77b7;

    > * {
      color: #4a77b7; 
      text-transform: uppercase;
      font-family: "Gotham Medium";
    }

    .post-title {
      font-size: 48px;
      font-weight: 700;
      line-height: 64px;
      margin:112px 0 49px 0;
    }

    .date {
        opacity: 0.49;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        margin: 0 0 44px 0;
    }

    .sub-title {
      text-transform: none;
      opacity: 0.5;
      color: #000000;
      font-family: "Gotham Book";
      font-size: 21px;
      font-weight: 300;
      line-height: 32px;
      max-width: 640px;
      margin: 0 auto 88px auto;
    }
  }

  .post-content {
    text-align: left;
    padding: 58px 32px 90px 32px;
    max-width: 712px;
    margin: auto;
    border-bottom: 0.4px solid #4a77b7;

    > * {
      color: #000;
      opacity: 0.65;
      font-family: "Gotham Book";
      font-size: 16px;
      font-weight: 300;
      line-height: 32px;
      margin: 12px 0;
    }

    a {
      color: #4a77b7;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    h1, h2, h3, h4, h5, h6 {
      color: #4a77b7;
      font-family: "Gotham Medium";
      font-weight: 700;
      line-height: 42px;
      opacity: 1;
      margin: 6px 0;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 22px;
      font-weight: 500;
    }

    h3 {
      font-size: 20px;
      font-weight: 500;
    }

    h4, h5, h6 {
      font-size: 18px;
      color: #000;
      font-weight: 300;
    }

    p {
      margin: 0 0 50px 0;
    }

    img {
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }

  .post-author {
    text-align: center;
    margin-top: 85px;

    p {
      opacity: 0.5;
      color: #000000;
      font-family: "Gotham Book";
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 14px;
    }

    img {
      height: 128px;
      width: auto;
    }

    .author-name {
      color: #000000;
      font-family: "Gotham Book";
      font-size: 16px;
      font-weight: 300;
      opacity: 1;
    }
  }
}