@media screen and (max-width: 800px){
  body.open-menu {
    overflow: hidden;

    main {
      position: relative;
      z-index: -1;
    }
  }

  .top-bar {
    .nav {
      .menu-icon {
        display: block;
        position: relative;
        height: 27px;
        width: 39px;
        outline: none;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;

        span {

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
          -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
        }
        
        &:hover {
          opacity: .7;
        }
        
        &.open {
          .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: $omni-blue;
          }
          .middle {
            opacity: 0;
            background: $omni-blue;
          }
          
          .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: $omni-blue;
          }
        }

        span {
          background: $omni-black;
          border: none;
          height: 3px;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition:  all .35s ease;
          cursor: pointer;

          &:nth-of-type(1) {
            width: 33px;
            margin-left: 6px;
          }

          &:nth-of-type(2) {
            top: 11px;
            width: 100%;
          }
          
          &:nth-of-type(3) {
            top: 22px;
            width: 34px;
            margin-left: 5px;
          }
        }
      }
      .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
        background-color: $omni-white;
        transition: 0.3s height ease;

        ul {
          flex-flow: column;
          height: 400px;
          justify-content: space-around;
          padding: 0;
          display: none;

          li {
            color: $omni-blue;
            text-align: center;
          }
        }

        &.open {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          width: 100%;
          opacity: 1;
          visibility: visible;
          ul {
            display: flex;
          }
        }
      }
    }
  }
}