@import './fonts';
@import './colors';

@import './blogv2';
@import './post';

.arrow {
  color: inherit;
  font-family: "SF Pro Medium";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-left: 8px;
}

.swal2-title {
  font-family: 'Gotham Book';
}

.swal2-content {
  font-family: 'Gotham Medium';
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

pre {
  background-color: $omni-black;
  padding: 20px;
}

code {
  color: $omni-code-yellow;
}

.page-wrapper {
  h3 {
    font-family: "Gotham Medium";
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
  }

  p {
    color: #ffffff;
    font-family: "Gotham Book";
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
  }

  section {
    max-width: 100%;
    font-family: "Gotham Medium";
    font-size: 16px;
    font-weight: 500;

    h3 {
      margin: 0;
    }

    > .content-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 1400px;
      margin: auto;
      padding: 112px 100px 112px 100px;

      @media screen and (max-width: 700px){
        padding: 112px 50px;
      }

      height: inherit;
      min-height: 600px;
    }


    &.leading-content {
      .content-wrapper {
        background-image: url('/images/rect-loop.gif');
        background-repeat: no-repeat;
        background-position: center right;
        justify-content: space-between;
        height: calc(100vh - 100px);
        padding: 0 100px;

        @media screen and (max-width: 700px){
          padding: 0 25px;
          background-image: url('/images/rectangle_looper2.svg');
        }

      }
      .content {
        max-width: 700px;
        background-color: rgba(255,255,255,0.5);
    
        h1 {
          color: $omni-blue;
          font-family: "Gotham Book";
          font-size: 64px;
          line-height: 1.31;
          font-weight: normal;
          margin: 0;

          @media screen and (max-width: 830px){
            font-size: 48px;
          }

          @media screen and (max-width: 400px){
            font-size: 36px;
          }
        }

        p {
          opacity: 0.75;
          color: $omni-black;
          font-family: "Gotham Book";
          font-size: 18px;
          line-height: 28px;
          max-width: 500px;
          margin: 41px 0 36px 0;
        }
      }
      .action-item {
        width: 246px;
        height: 64px;
        box-shadow: 0 16px 48px rgba(138, 168, 212, 0.5);
        border-radius: 12px;
        background-color: $omni-white;
        cursor: pointer;

        div {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            text-indent: 20px;
            color: $omni-black;
            font-family: "Gotham Medium";
            font-size: 14px;
            line-height: 17px;
            opacity: 0.49;
          }
        }
      }
    }

    &.about-content {
      background-color: $omni-blue;
      color: $omni-white;

      .content-wrapper {
        justify-content: flex-start;
        min-height: 0;
      }

      .trustees {
        width: 100%;
        align-self: flex-start;

         .logo-images {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          max-width: 1000px;

          img {
            padding: 0 20px;
            margin-top: 20px;
            &:last-child {
              margin-right: 0;
            }
            @media screen and (max-width: 700px) {
              margin-bottom: 40px;
            }
          }

          @media screen and (max-width: 700px) {
            flex-flow: column;
          }
        }

        h3 {
          margin-top: 124px;
          margin-bottom: 24px;

          @media screen and (max-width: 700px) {
            margin-top: 60px;
          }
        }

        p {
          margin: 0;
          max-width: 648px;

          &.trust-label {
            font-family: 'Gotham Medium'
          }
        }


        @media screen and (max-width: 700px) {
          text-align: center;
        }
      }
    }

    &.features {
      > .content-wrapper {
        flex-flow: column;
        justify-content: end;
        height: 100%;

        @media screen and (max-width:925px) {
          padding: 112px 20px;
        }

        .feature {
          display: flex;
          flex-flow: row;
          align-items: center;
          padding-bottom: 56px;

          &.feature-2{
            flex-flow: row-reverse;
          }

          &:last-child {
            padding-bottom: 0;
          }

          .feature-text {
            min-width: 400px;
            margin-left: 40px;
            h3 {
              color: $omni-blue;
              margin: 0 0 18px 0;
            }

            p {
              color: $omni-black;
              opacity: 0.65;
              max-width: 600px;
            }

            a {
              color: $omni-blue;
              text-transform: uppercase;
              letter-spacing: 2px;
              margin-top: 24px;
              display: inline-block;
            }
            
            @media screen and (max-width: 600px){
              min-width: initial;
              margin-left: 0;
            }
          }

          .feature-image {
            max-width:500px;
            img {
              width: 100%;
            }
            @media screen and (max-width: 700px){
              display: none;              
            }
          }
        }
      }
    }

    &.features-small-section {
      background-color: $omni-blue;
      color: $omni-white;

      .content-wrapper {
        flex-wrap: wrap;
        max-width: 1200px;
        background-image:url('/images/bigO.svg');
        background-repeat:no-repeat;
        background-position: left 200px;
        flex-flow: column;
      }

      h3 {
        text-align: center;
        margin-bottom: 24px;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        li {
          vertical-align: middle;
          margin-bottom: 58px;
          display: flex;
          align-items: center;
          line-height: 32px;

          img {
            width: 64px;
            height: auto;
          }

          span {
            max-width: 324px;
            padding-left: 24px;
            font-size: 16px;
            font-family: 'Gotham Book';
          }
        }
      }

      @media screen and (min-width: 710px){
        h3 {
          max-width: 370px;
          align-self: flex-start;
          text-align: left;
          margin-bottom: 0;
        }
        .right {
          margin-left: auto;
        }
      }
    }

    &.products-section {
      .content-wrapper {
        flex-flow: column;
        padding-left: 25px;
        padding-right: 25px;

        .heading {
          h3, p {
            text-align: center;
            color: $omni-black;
          }
          h3 {
            margin-top: 0;
            margin-bottom: 24px;
          }

          p{
            margin-top: 0;
            margin-bottom: 64px;
            opacity: 0.75;
          }
        }

        .product-listing {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: center;
          width: 100%;

          .listing {
            max-width: 376px;
            width: 100%;
            box-shadow: 0 24px 48px rgba(138, 168, 212, 0.5);
            background-color: $omni-white;
            padding: 20px 0;

            .listing-name {
              color: #4a77b7;
              font-family: "Gotham Medium";
              font-size: 18px;
              text-align: center;
              margin: 32px;
              border-bottom: 1px solid $omni-light-blue;

              h4 {
                font-weight: 500;
              }
            }

            .listing-features{
              list-style-image: url('/images/icons/list-style.svg');
              padding-right: 20%;
              padding-left: 10px;
              li {
                opacity: 0.65;
                color: #000000;
                font-family: "Gotham Book";
                font-size: 16px;
                font-weight: 300;
                margin-bottom: 24px;
                line-height: 24px;
              }
            }

            a {
              width: 90%;
              display: block;
              margin: auto;
              outline: none;
              border: none;
              box-shadow: 0 16px 48px rgba(138, 168, 212, 0.5);
              border-radius: 16px;
              background-color: #4a77b7;

              color: #ffffff;
              font-family: "Gotham Medium";
              font-size: 14px;
              font-weight: 500;
              letter-spacing: 2px;
              text-transform: uppercase;

              cursor: pointer;
              padding: 30px 0;
              text-align: center;
            }
          }

          .listing-1 {
            border-radius: 24px 0 0 24px;
          }

          .listing-3 {
            border-radius: 0 24px 24px 0;
          }

          @media screen and (max-width: 1180px){
            flex-flow: column;

            .listing {
              border-radius: 24px;
              margin-bottom: 20px;
              max-width: 500px;
            }              
          }
        }

        
      }
    }

    &.projects-section {
      background-color: $omni-black;
      .content-wrapper {
        position: relative;

        .left {
          position: relative;
          align-self: stretch;

          .github-branding {
            h3 {
              margin-bottom: 46px;
            }
            position: sticky;
            top: calc(50vh - 202px);
          }
          margin-bottom: 50px;
        }

        .project {
          background-color: $omni-white;
          border-radius: 12px;
          text-align: center;
          max-width: 352px;
          min-width: 280px;
          padding: 30px;
          margin: 32px 0;

          .project-title {
            color: $omni-blue;
            font-family: 'Gotham Medium';
            font-weight: 500;
            margin-top: 32px;
            margin-bottom: 9px;
          }

          .project-description {
            color: $omni-black;
            opacity: 0.65;
            font-family: 'Gotham Book';
            font-weight: 300;
            line-height: 24px;
            font-size: 16px;
            margin: 0;
          }
        }

          @media screen and (max-width: 780px){
            flex-flow: column;

            .project {
              min-width: 0;
            }

            .left {
              height: inherit;
              margin-bottom: 0;

            .github-branding {
              position: static;
              h3 {
                margin-bottom: 0;
              }
              img {
                display: none;
              }
            }
          }
          }
      }
      h3 {
        color: $omni-white;
        text-align: center;
      }
    }

    &.testimonial-section {
      background-color: $omni-light-blue;
      display: flex;
      flex-flow: row;

      .image {
        background-image: url('/images/guywithlaptop.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        @media screen and (min-width: 1000px){
          max-width: 752px;
          width: 100%;
        }

      }

      .content-wrapper {
        justify-content: flex-end;

        .quote {
          display: flex;
          flex-flow: column;
          max-width: 500px;
          min-height: 500px;
          justify-content: space-between;

          .start-quote {
            align-self: flex-start;
          }

          .end-quote {
            align-self: flex-end;
          }

          .testimonial-writer {
            align-self: flex-end;
            .writer {
              font-family: "Gotham Medium";
              font-size: 18px;
              font-weight: 500;
              margin: 0;
              opacity: 1;
            }
            .company {
              font-family: "Gotham Book";
              font-size: 16px;
              font-weight: 300;
              line-height: 16px;
              margin: 0;
              font-style: italic;
            }
          }


        }

        p{
          color: $omni-black;
          opacity: 0.75;
          font-family: "Gotham Book";
          font-size: 21px;
          font-weight: 300;
          line-height: 41px;
        }
      }
    }

    &.team-section {
      .content-wrapper {
        flex-flow: column;
        align-items: flex-start;
        p {
          color: $omni-black;
        }

        .team-heading {
          margin-left: 48px;

          p {
            opacity: 0.75;
            font-family: "Gotham Book";
            font-size: 18px;
            font-weight: 300;
            margin-top: 24px;
            margin-bottom: 48px;
          }
        }

        .our-team {
          display: flex;
          flex-flow: row;
          flex-wrap: wrap;

          .team-member {
            width: 225px;
            text-align: center;
            margin: 0 48px 48px 48px;

            .photo {
              width: 224px;
              height: 224px;
              background-color: $omni-blue;
              border-radius: 50%;
              opacity: 0.5;
            }

            img {
              width: 100%;
            }

            p {
              margin: 0;
              font-family: "Gotham Book";
              font-size: 16px;
              font-weight: 300;

              &.title {
                line-height: 16px;
                opacity: 0.5;
                font-style: italic;
              }
            }
          }
        }
        @media screen and (max-width: 860px){
          align-items: center;
          text-align: center;

          .team-heading {
            margin-left: 0;
          }

          .our-team {
            justify-content: center;

            .team-member {
              margin: 10px;
            }
          }          
        }
      }
    }
  }
}



footer {
  text-align: center;

  p {
    margin: 0;
  }

  .partners-wrapper {
    background-color: $omni-blue;
  }
  
  .partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    max-width: 1000px;
    margin: auto;

    p {
      font-family: "Gotham Medium";
      font-size: 32px;
      font-weight: 500;
    }

    > * {
      margin: 30px 10px;
    }

    @media screen and (max-width: 933px){
      p {
        width: 100%;
      }
    }
  }

  .social-media {
    background-color: $omni-light-blue;
    padding: 45px;

    p {
      color: $omni-black;
      opacity: 0.5;
      padding: 0 10px;
    }

    .sites {
      max-width: 660px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 80px;

      p {
        font-family: "Gotham Medium";
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.top-bar{
  height: 10vh;
  min-height: 64px;
  max-height: 84px;
  box-shadow: 0 24px 48px rgba(74, 119, 183, 0.15);
  background-color: #ffffff;

  > .nav {
    max-width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .menu-icon {
      display: none;
      cursor: pointer;
    }

    > .branding {
        display: inherit;

      a {
        display:inherit;

        > .text-logo {
          padding: 0px 10px;
        }
      }
    }
  }

  .menu {
    ul {
      list-style-type: none;

      li {
        cursor: pointer;
        display: inline;
        margin: 0 20px;
        font-family: 'Gotham Medium';
        font-size: 14px;

        a {
          transition: 0.3s color ease;
        }

        a:hover {
          color: $omni-blue;
        }
      }
    }
  }
}

ul {
  list-style-type: none;
}

.page-404 {
  text-align: center;
  padding: 100px;
  font-family: "Gotham Book";
  p {
    color: $omni-black;
  }
}

@import './responsive';
